body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  margin: 0;
  color: #0e4550;
  height: 100vh;
}

/* -------------------------------------------- */
/* Sidebar (Navbar, buttons and text */
/* -------------------------------------------- */

.sidebar {
  background: #82c0cc;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  width: 15%;
  padding: 3em 3em 3em 3em;
  border-right: #16697a 0.2em solid;
  position: sticky;
}

.info {
  text-align: center;
}

#short-intro {
  font-size: 12px;
}

.sidebar-image {
  width: 100%;
  object-fit: contain;
}

.navbox {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.nav-btns {
  text-decoration: none;
  color: #0e4550;
}

.nav-btns:hover {
  color: #82c0cc;
  background: #0e4550;
}

.active-btn {
  border-bottom: 0.2em #0e4550 solid;
  pointer-events: none;
}

ul {
  list-style: none;
  padding: 0.5em 0 0.5em 0;
}

li {
  margin: 0 0 1em 0;
}

/* -------------------------------------------- */
/* Sidebar - Footer */
/* -------------------------------------------- */

.footer-txt {
  text-align: center;
  font-size: 7px;
}

.links {
  display: flex;
  padding: 2em 0;
}

a {
  text-decoration: none;
}

/* -------------------------------------------- */
/* Project Showcase + Other Projects */
/* -------------------------------------------- */

.main-body {
  background: #82c0cc;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.other-body {
  background: #82c0cc;
  width: 100%;
}

.horizontal-align {
  text-align: center;
}

.project-images,
.figma-embedded {
  margin-top: 3em;
  margin-left: 3em;
  border: none;
  width: 6em;
  height: 6em;
}

.side-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

@media (min-width: 750px) {
  .project-images,
  .figma-embedded {
    width: 10em;
    height: 10em;
  }
}

@media (min-width: 1000px) {
  .project-images,
  .figma-embedded {
    width: 15em;
    height: 15em;
  }
}

.soundcloud {
  scroll-behavior: auto;
}

.projects:hover {
  opacity: 70%;
}

iframe:hover {
  opacity: 70%;
}

/* -------------------------------------------- */
/* About */
/* -------------------------------------------- */

.pitch {
  padding: 0;
  margin: 3em 1em 0 1em;
}

/* -------------------------------------------- */
/* From min-width of (amount of pixels) and bigger */
/* -------------------------------------------- */
@media (min-width: 750px) {
  .pitch {
    margin: 3em 0 0 3em;
    width: 30em;
  }
}
